[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
setupdbdev = "./scripts/create_db.sh challenges_system_dev finn password"
setupdbtest = "./scripts/create_db.sh challenges_system_test finn password"
server = "python ./manage.py runserver"
makemigrations = "python ./manage.py makemigrations"
migrate = "python ./manage.py migrate"

[packages]
django = "*"
"psycopg2" = "*"
"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
pytest-cov = "==2.5.0"

[dev-packages]
pylint = "*"
pytest = "*"
python-coveralls = "*"

[requires]
python_version = "3.6"
